# Enforce checkout with linux lf consistent over all platforms
*.html text eol=lf
*.htm text eol=lf
*.css text eol=lf
*.tmpl text eol=lf
*.tpl text eol=lf
*.less text eol=lf
*.scss text eol=lf
*.sass text eol=lf
*.js text eol=lf
*.json text eol=lf
*.php text eol=lf
*.phar text eol=lf
*.twig text eol=lf
*.diff text eol=lf
*.rb text eol=lf
*.ruby text eol=lf
*.pl text eol=lf
*.perl text eol=lf
*.rst text eol=lf
*.md text eol=lf
*.markdown text eol=lf
*.mdown text eol=lf
*.mkdn text eol=lf
*.mkd text eol=lf
*.mdwn text eol=lf
*.mdtxt text eol=lf
*.mdtext text eol=lf
*.text text eol=lf
*.Rmd text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ts text eol=lf
*.typoscript text eol=lf
*.setupts text eol=lf
*.constantsts text eol=lf
*.pagets text eol=lf
*.xlf text eol=lf
*.xls text eol=lf
*.xml text eol=lf
*.xsd text eol=lf
*.dtd text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.t3s text eol=lf
*.txt text eol=lf
*.svg text eol=lf
.env text eol=lf
.env.* text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
.babelrc text eol=lf
.browserslistrc text eol=lf
.eslintrc text eol=lf

