/vendor
/var/*
/.env
!/.env.dist
/.php_cs.cache

/config/override.settings.yaml

/node_modules
/.npmrc
.idea

/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/fileadmin
/public/fileadmin/*
!public/fileadmin/_forms_
